.tag{
  @include centerFlex;
  gap: 0.8rem;
  background-color: #fff;
  border-radius: 24.4rem;
  max-width: 12.1rem;
  padding: 0.4rem 0.6rem;
  &.blue-tag{
    .icon{
      background-color: rgba(63, 103, 186, 0.15)
    }
    span{
      color: #3F67BA;
    }
  }
  .icon{
    @include centerTotalFlex;
    width: 2.6rem;
    height: 2.6rem;
    background-color: rgba(194, 0, 1, 0.15);
    border-radius: 50%;
  }
  span{
    font-size: 1.5rem;
    color: #C20001;
    font-weight: 600;
    line-height: 150%;
  }
}

.search{
  @include centerFlexJustify;
  width: 100%;
  max-width: 40.3rem;
  background-color: #fff;
  border-radius: 12.2rem;
  padding: 0.7rem;
  input[type=text]{
    border: none;
    outline: none;
    font-size: 1.5rem;
    line-height: 150%;
    padding-left: 1.6rem;
    &::placeholder{
      color: #A0AFBA;
    }
  }
  button{
    @include centerTotalFlex;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background-color: rgba(158, 185, 225, 0.1);
    border: 1px solid transparent;
    transition: all .3s ease-in;
    &:hover{
      border-color: #3E75C3;
    }
  }
}

.type-filter{
  @include centerFlex;
  gap: 0.5rem;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all .3s ease;
  &:hover{
    filter: grayscale(0);
    opacity: 1;
  };
  .icon{
    width: 2.8rem;
    height: 2.8rem;
    @include centerTotalFlex;
  }
  span{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
  }
  &.ghost{
    span{
      color: $type-ghost;
    }
  }
  &.bug{
    span{
      color: $type-bug;
    }
  }
  &.dark{
    span{
      color: $type-dark;
    }
  }
  &.dragon{
    span{
      color: $type-dragon;
    }
  }
  &.electric{
    span{
      color: $type-electric;
    }
  }
  &.fairy{
    span{
      color: $type-fairy;
    }
  } 
  &.fighting{
    span{
      color: $type-fighting;
    }
  } 
  &.ground{
    span{
      color: $type-ground;
    }
  } 
  &.ice{
    span{
      color: $type-ice;
    }
  } 
  &.poison{
    span{
      color: $type-poison;
    }
  } 
  &.psychic{
    span{
      color:$type-psychic;
    }
  } 
  &.rock{
    span{
      color:$type-rock;
    }
  } 
  &.grass{
    span{
      color:$type-grass;
    }
  } 
  &.steal{
    span{
      color:$type-steal;
    }
  } 
  &.water{
    span{
      color:$type-water;
    }
  } 
  &.fire{
    span{
      color:$type-fire;
    }
  } 
  &.flying{
    span{
      color:$type-flying;
    }
  } 
}

.card-pokemon{
  width: 100%;
  max-width: 28rem;
  height: 30.4rem;
  background-color: #fff;
  border-radius: 1.2rem;
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.30);
  position: relative;
  z-index: 1;
  transition: all .3s ease;;
  &:hover{
    box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.30);
    transform: scale(1.02);
  }
  &.grass{
    .image-pokemon{
      &:after{
        background-color: rgba(115, 184, 97, 0.2);
      }
    }
  }
  &.bug{
    .image-pokemon{
      &:after{
        background-color: rgba(155, 186, 72, 0.2);
      }
    }
  }
  &.dark{
    .image-pokemon{
      &:after{
        background-color: rgba(89, 87, 97, 0.2);
      }
    }
  }
  &.dragon{
    .image-pokemon{
      &:after{
        background-color: rgba(44, 106, 193, 0.2);
      }
    }
  }
  &.electric{
    .image-pokemon{
      &:after{
        background-color: rgba(212, 188, 52, 0.2);
      }
    }
  }
  &.fairy{
    .image-pokemon{
      &:after{
        background-color: rgba(226, 150, 225, 0.2);
      }
    }
  }
  &.fighting{
    .image-pokemon{
      &:after{
        background-color: rgba(196, 77, 97, 0.2);
      }
    }
  }
  &.ground{
    .image-pokemon{
      &:after{
        background-color: rgba(206, 128, 86, 0.2);
      }
    }
  }
  &.ice{
    .image-pokemon{
      &:after{
        background-color: rgba(113, 186, 172, 0.2);
      }
    }
  }
  &.poison{
    .image-pokemon{
      &:after{
        background-color: rgba(172, 106, 202, 0.2);
      }
    }
  }
  &.psychic{
    .image-pokemon{
      &:after{
        background-color: rgba(235, 139, 133, 0.2);
      }
    }
  }
  &.rock{
    .image-pokemon{
      &:after{
        background-color: rgba(132, 190, 179, 0.2);
      }
    }
  }
  &.ghost{
    .image-pokemon{
      &:after{
        background-color: rgba(97, 110, 183, 0.2);
      }
    }
  }
  &.steal{
    .image-pokemon{
      &:after{
        background-color: rgba(101, 148, 161, 0.2);
      }
    }
  }
  &.water{
    .image-pokemon{
      &:after{
        background-color: rgba(79, 119, 190, 0.2);
      }
    }
  }
  &.fire{
    .image-pokemon{
      &:after{
        background-color: rgba(233, 99, 3, 0.2);
      }
    }
  }
  &.flying{
    .image-pokemon{
      &:after{
        background-color: rgba(117, 140, 189, 0.2);
      }
    }
  }
  .image-pokemon{
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1.4rem;
    position: relative;
    &:after{
      content: '';
      width: 16.5rem;
      height: 16.5rem;
      position: absolute;
      z-index: -1;
      border-radius: 50%;
    }
  }
  .info-pokemon{
    width: 100%;
    @include centerFlexJustify;
    padding: 0 2.8rem;
    .text{
      text-align: left;
      span{
        margin-bottom: 0.6rem;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 150%;
      }
    }
    .icon{
      width: 2.8rem;
      height: 2.8rem;
      @include centerTotalFlex;
      margin-bottom: -10px;
    }
  }
}

.tag-type{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: -0.13px;
  line-height: 2.4rem;
  padding: 0 2.5rem;
  &.bug{
    color: $type-bug;
    background-color: rgba(155, 186, 72, 0.10);
  }
  &.dark{
    color: $type-dark;
    background-color: rgba(89, 87, 97, 0.10);
  }
  &.dragon{
    color: $type-dragon;
    background-color: rgba(44, 106, 193, 0.10);
  }
  &.electric{
    color: $type-electric;
    background-color: rgba(238, 217, 103, 0.10);
  }
  &.fairy{
    color: $type-fairy;
    background-color: rgba(226, 150, 225, 0.10);
  }
  &.fighting{
    color: $type-fighting;
    background-color: rgba(196, 77, 97, 0.10);
  }
  &.ground{
    color: $type-ground;
    background-color: rgba(206, 128, 86, 0.10);
  }
  &.ice{
    color: $type-ice;
    background-color: rgba(139, 206, 193, 0.10);
  }
  &.poison{
    color: $type-poison;
    background-color:rgba(172, 106, 202, 0.10);
  }
  &.psychic{
    color: $type-psychic;
    background-color: rgba(235, 139, 133, 0.10);
  }
  &.rock{
    color: $type-rock;
    background-color: rgba(139, 206, 193, 0.10);
  }
  &.ghost{
    color: $type-ghost;
    background-color: rgba(97, 110, 183, 0.10);
  }
  &.grass{
    color: $type-grass;
    background-color: rgba(92, 164, 138, 0.10);
  }
  &.steal{
    color: $type-steal;
    background-color: rgba(101, 148, 161, 0.10);
  }
  &.water{
    color: $type-water;
    background-color: rgba(136, 163, 212, 0.10);
  }
  &.fire{
    color: $type-fire;
    background-color: rgba(233, 99, 3, 0.10);
  }
  &.flying{
    color: $type-flying;
    background-color: rgba(166, 187, 232, 0.10);
  }
}

.btn-loading-more{
  background-color: rgba(63, 93, 179, 0.10);
  color: $blue-primary;
  font-family: 'Monteserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.14px;
  padding: 1.4rem 2rem;
  border-radius: 0.6rem;
  transition: all .3s ease;
  &:hover{
    background-color: $blue-primary;
    color: #fff;
  }
}

.footer{
  background-color: $blue-primary;
  padding-top: 6.7rem;
  padding-bottom: 6.5rem;
  .container{
    @include centerFlexJustify;
  }
  .text{
    h3{
      color: #fff;
      font-weight: 700;
    }
    p{
      font-size: 1.4rem;
      color: #fff;
      font-weight: 500;
      line-height: 180%;
      opacity: .8;
    }
  }
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include centerTotalFlex;
  z-index: 2023; 
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  &[type-pokemon-modal = "grass"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/grass.svg');
      }
    }
  }
  &[type-pokemon-modal = "bug"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/bug.svg');
      }
    }
  }
  &[type-pokemon-modal = "dark"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/dark.svg');
      }
    }
  }
  &[type-pokemon-modal = "dragon"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/dragon.svg');
      }
    }
  }
  &[type-pokemon-modal = "electric"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/electric.svg');
      }
    }
  }
  &[type-pokemon-modal = "fairy"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/fairy.svg');
      }
    }
  }
  &[type-pokemon-modal = "fighting"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/fighting.svg');
      }
    }
  }
  &[type-pokemon-modal = "ground"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/ground.svg');
      }
    }
  }
  &[type-pokemon-modal = "ice"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/ice.svg');
      }
    }
  }
  &[type-pokemon-modal = "poison"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/poison.svg');
      }
    }
  }
  &[type-pokemon-modal = "psychic"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/psychic.svg');
      }
    }
  }
  &[type-pokemon-modal = "rock"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/rock.svg');
      }
    }
  }
  &[type-pokemon-modal = "ghost"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/ghost.svg');
      }
    }
  }
  &[type-pokemon-modal = "steal"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/steel.svg');
      }
    }
  }
  &[type-pokemon-modal = "water"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/water.svg');
      }
    }
  }
  &[type-pokemon-modal = "fire"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/fire.svg');
      }
    }
  }
  &[type-pokemon-modal = "flying"]{
    .box{
      .left-container{
        background-image: url('../images/bg-types/flying.svg');
      }
    }
  }
  .overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
  .box{
    display: flex;
    width: 100%;
    max-width: 71rem;
    height: 50.8rem;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 10px 40px 0px rgba(13, 12, 71, 0.05);
    position: relative;
    z-index: 1;
    transform: translateY(4rem);
    transition: all .3s ease-in ;
    .close{
      @include centerTotalFlex;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 0.8rem;
      background-color: #fff;
      position: absolute;
      top: -4.4rem;
      right: 0;
    }
    .left-container{
      width: 100%;
      max-width: 19.1rem;
      height: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      .icon{
        @include centerTotalFlex;
        width: 3.4rem;
        height: 3.4rem;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
      .image{
        position: absolute;
        left: 1.4rem;
        bottom: 13.8rem;
        width: 20.2rem;
        img{
          width: 100%;
        }
      }
    }
    .right-container{
      padding: 3.5rem 7.2rem 2.9rem 7.4rem;
      .name{
        display: flex;
        align-items: flex-end;
        gap: 0.8rem;
        margin-bottom: 1rem;
        h2{
          color: #2F3133;
          font-size: 2.8rem;
          letter-spacing: -0.28px;
        }
        span{
          color: #7A7D80;
          font-family: 'Montserrat', sans-serif;
          font-size: 1.6rem;
          letter-spacing: -0.16px;
          position: relative;
          bottom: 0.3rem;
        }
      }
      .type{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 3.2rem;
        width: 100%;
      }
      .info{
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 4.8rem;
        margin-bottom: 3.2rem;
        li{
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          span{
            color: #7A7D80;
            font-size: 1.3rem;
            letter-spacing: -0.13px;
          }
          strong{
            color: #2F3133;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.4rem;
            letter-spacing: -0.14px;
          }
        }
      }
      .weak{
        margin-bottom: 3.2rem;
        h4{
          color: #4D5053;
          font-family: 'Inter', sans-serif;
          font-size: 1.3rem;
          font-weight: 600;
          letter-spacing: -0.13px;
          margin-bottom: 1.6rem;
        }
        ul{
          width: 100%;
          @include centerFlex;
          flex-wrap: wrap;
          gap: 1rem;
        }
      }
      .stats{
        h5{
          color: #4D5053;
          font-family: 'Inter', sans-serif;
          font-size: 1.3rem;
          font-weight: 600;
          letter-spacing: -0.13px;
          margin-bottom: 1.6rem;
        }
        .all{
          display: flex;
          flex-direction: column;
          gap: 1.3rem;
          .item{
            @include centerFlex;
            justify-content: space-between;
            span{
              color: #7A7D80;
              font-family: 'Inter', sans-serif;
              font-size: 1.2rem;
              width: 6.8rem;
            }
            .bar-status{
              width: 100%;
              max-width: 28.3rem;
              height: 0.3rem;
              background-color: #EFF3F6;
              position: relative;
              .bar{
                width: 56%;
                height: 0.3rem;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 0;
                background-color: #C20001;
              }
              .separator{
                position: absolute;
                top: 0;
                left: 0;
                @include centerTotalFlex;
                width: 100%;
                gap: 5.4rem;
                li{
                  width: 0.4rem;
                  height: 0.3rem;
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

.open-modal{
  .modal{
    opacity: 1;
    pointer-events: all;
    .box{
      transform: translateY(0);
    }
  }
}