.header{
  width: 100%;
  height: 11.2rem;
  @include centerFlex;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2023;
  .container{
    @include centerFlexJustify;
  }
  p{
    color: #FFF;
    font-size: 1.3rem;
  }
  @include responsive('mobile'){
    height: 8.2rem;
    .logo{
      max-width: 12.7rem;
    }
  }
}