h1,
h2,
h3{
  font-family: 'Montserrat', sans-serif;
}

h2,
h3{
  color: #2F3133;
}

h1{
  color: #fff;
  font-size: 6.4rem;
  letter-spacing: -0.64px;
}

h2{
  font-size: 3.2rem;
  letter-spacing: -0.32px;
}

h3{
  font-size: 1.8rem;
  line-height: 150%; 
}